{% extends 'base.html' %}
{% block content %}
<nav>
    <div class="container">

    <ul class="nav nav-pills">
      <li role="presentation"><a href="{% url 'child_list_view' %}">Database</a></li>
      <li role="presentation"><a href="{% url 'logout' %}?next={% url 'pin_view' %}">Logout</a></li>

    </ul>

    </div>

</nav>
<div class="container">
  <h1>Enter Child Information</h1>
</div>

<div class="container">


<form class="" action="" method="post">
  {%csrf_token%}
  {{ form.as_p }}

  <input class="btn btn-default" type="submit" name="" value="Submit!">

</form>
</div>
{% endblock %}
