{% extends 'base.html' %}

{% block content %}
<nav>
    <div class="container">

    <ul class="nav nav-pills">
      <li role="presentation"><a href="{% url 'child_create_view' %}">Add Child to Database</a></li>
      <li role="presentation"><a href="{% url 'logout' %}?next={% url 'pin_view' %}">Logout</a></li>

    </ul>

    </div>

</nav>


<table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Checked In</th>
    <th>Checked Out</th>
  </tr>
  {% for child in object_list %}
  <tr>
    <td>{{child.first_name}}</td>
    <td>{{child.last_name}}</td>
    <td>{{child.}}</td>
    <td>{{child.}}</td> 
  </tr>
  {% endfor %}
</table>
<div class="container">


</div>


{% endblock %}
